{% extends 'main/layout.html' %}

{% block content %}
 <title>404 - Страница улетела | travelB</title>


 <div class="error-container"> <div class="error-number"> 404 </div>

    <div class="bird bird1" data-type="angry">😠</div>
    <div class="bird bird2" data-type="laugh">😂</div>
    <div class="bird bird3" data-type="cool">😎</div>
    <div class="bird bird4" data-type="love">🥰</div>
    <div class="bird bird5" data-type="surprise">😳</div>
    <div class="bird bird6" data-type="crying">😭</div>
    <div class="bird bird7" data-type="sunglasses">🕶️</div>

    <div class="error-message">
        <h1 class="error-title">Ой! Страница улетела с птичками 🐦</h1>
    </div>
</div>


{% endblock %}